name: CI

on:
  push:
    branches-ignore:
      - "automated/dependency_version_update"
      - "automated/dependency_version_update_tmp"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Ballerina Build
        uses: ballerina-platform/ballerina-action@slbeta3
        with:
          args:
            build -c ./eventhub
        env: 
          SAS_KEY_NAME: ${{ secrets.SAS_KEY_NAME }}
          SAS_KEY: ${{ secrets.SAS_KEY }}
          RESOURCE_URI: ${{ secrets.RESOURCE_URI }}
